header{
    background-color: rgb(212, 209, 220);
   
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
   
    flex-wrap: wrap;
    background: white url(suri.avif)  no-repeat scroll center;
    background-size: cover;
    

    }
    .adjust{
        padding-left: 200px;
        
        
    }
    *{
        color: rgb(231, 231, 227);
    }
    h1{
        color:rgb(92, 241, 12);
        font-weight: bold;
        text-align: center;
        font-size: 30px;
      
       

    }
    *{ 
        font-size: 20px;
       
       
    }
    .modi{
        display: flex;
        align-items: center;
    }

    
    
    

header h1{ margin: 0;
    color:rgb(3, 147, 230);
    margin-bottom: 30px;
    height: 150px;
padding: 10PX;

}
body{
    margin: 0;
   
   
} 
 a{
    text-decoration: none;
    
}
.button{
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
   margin-top: 10px;
   box-shadow: 0px 0px 05px 03px aqua;
   background-color: rgb(32, 124, 157);
   color: rgb(240, 235, 235);

   


}
.button:hover{
    background-color:maroon;
    color: rgb(149, 230, 235);
    transition: all 0.5s ease-in-out 0s;
    transform: translateY(-05px);

    ;
    
}
img {
   height: 300px; 
  width: 300px;
  border-radius: 50%;
  border: 04px aqua solid;
  box-shadow:0px 0px 20px 5px rgb(124, 199, 237);

}




section{
    padding: 20px;
    margin: 20px;
    margin-bottom: 10px;
    height: 100vh;
    background:url(it.jpg) no-repeat scroll center;
    background-size: cover;
    
  
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
    margin-bottom: 05px;



}
.submit{
    background-color: blue;
    color: white;
    color: white;
  height: 30px;
  width: 100px;
  border-radius: 15px;
  border: 2px solid greenyellow;

}
.submit:hover{
    background-color:aqua;
    color:black;
    
}
.skills{
  
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 100%;

}
 .project{
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 100%;


 }
  
 

 
  
    


.fixedbutton{
    height: 50px;
    width: 70px;
    border-radius: 50%;
    position: fixed;
    right:50px;
    bottom: 50px;
    border: 3px solid orange;
    
    background-color: blue;
    cursor: pointer;
   

}
.fixedbutton:hover{
   background-color: aqua;
   transform: translateY(+3px);

}
footer{
    background-color: black;
    height: 10vh;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
section img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 05px  aqua solid;
}
#contact{
    background:url(it4.avif) no-repeat scroll center;
    background-size: cover;
}
#skills{
    background:url(it2.avif) no-repeat scroll center;
    background-size: cover;
}
#projects{
    background:url(it3.avif) no-repeat scroll center;
    background-size: cover;
    color: blueviolet;
}





    



